/* CSS/style.css */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 200px;
  margin-bottom: 10px;
  padding: 5px;
}

.luas-section,
.keliling-section {
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  text-align: center;
}

/* Centering the image */
img {
  display: block;
  margin: 0 auto;
}
